<mat-toolbar color="primary">
  <span class="logo h4" routerLink="/">NgVGDB</span>
  <span class="spacer"></span>
  <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <mat-form-field style="font-size: .875rem" appearance="standard">
      <input type="text" class="search-input" name="search" matInput ngModel placeholder="Search 500000+ games">

    </mat-form-field>
    <button type="submit" class="search-button" mat-icon-button color="accent">
      <mat-icon>search</mat-icon>
    </button>
  </form>
</mat-toolbar>
