<div class="filters">
  <mat-form-field>
    <mat-label>Sort</mat-label>
    <mat-select panelClass="sort-select" [(ngModel)]="sort" placeholder="Sort by">
        <mat-option value="name">Name</mat-option>
        <mat-option value="-released">Released</mat-option>
        <mat-option value="-added">Added</mat-option>
        <mat-option value="-created">Created</mat-option>
        <mat-option value="-updated">Updated</mat-option>
        <mat-option value="-rating">Rating</mat-option>
        <mat-option value="metacritic">Metacritic</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="games">

  <mat-card class="game">
    <img mat-card-image class="game-thumbnail" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fnintendo-power.com%2Fpokemon-diamond-pearl-remakes-should-be-announced-before-the-anniversary%2F&psig=AOvVaw3FUSKoqEP_o5dVpmL_3Uvp&ust=1636466707901000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCIjT2Nr3iPQCFQAAAAAdAAAAABAD" alt="- Thumbnail">
    <mat-card-title class="px-3">Name</mat-card-title>
    <mat-card-content class="px-3">
      <div class="game-platforms">

        <img src="" alt="">
      </div>
    </mat-card-content>
  </mat-card>
</div>
