.games {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1em 1em;
  margin: 1rem 0;
}

.game {
  &-thumbnail {
    height: 194px;
    object-fit: cover;
  }

  &-platforms {
    margin-top: auto;
  }

  &-platform {
    max-height: 0.875rem;
    &:not(:last-child) {
      margin-right: 1em;
    }
  }
}
