.game {
  &-details {
    &__header {
      height: 460px;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        filter: contrast(70%) brightness(70%) blur(4px);
        transform: scale(1.2);
        height: 100%;
        object-fit: cover;
      }

      .container {
        position: absolute;
        z-index: 0;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &__title {
      color: #fff;
      font-size: 3rem;
      font-family: "DM Sans", sans-serif;
      line-height: 1.2;
    }

    &__release-date {
      color: #fff;
      display: flex;
      justify-content: center;
      font-family: "DM Sans", sans-serif;

      mat-icon {
        margin-right: 0.5rem;
      }
    }

    &__genres {
      color: #fff;
    }

    &__ratings {
      position: absolute;
      bottom: -50%;
      right: 0;

      &-gauge {
      }

      ::ng-deep mwl-gauge {
        width: 120px;
        height: 120px;
        display: block;
        padding: 1rem;

        .dial {
          stroke-width: 6;
        }

        .value {
          stroke-dasharray: none;
          stroke-width: 6;
        }

        .value-text {
          fill: #fff;
          font-weight: 700;
          font-size: 1.5rem;
        }
      }

      &-label {
        color: #fff;
        font-size: 0.875rem;
        text-decoration: none;
        position: relative;
        top: -40px;
      }
    }
  }
}
