.game {
  &-tabs {
    &-votes {
      &-count {
        margin-left: 5px;
      }
    }
  }

  &-platform {
    max-height: 1rem;
    &:not(:last-child) {
      margin-right: 1em;
    }
  }

  &-votes {
    &-up {
      color: #388E3C;
    }
    &-down {
      color: #D32F2F;
    }

    &-count {
      margin-left: 5px;
      margin-right: 10px;
      vertical-align: super;
    }
  }

  &-screenshots {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em 1em;
    margin: 1rem 0;
  }

  &-screenshot {
    width: 100%;
    height: 100%;
  }

  &-trailer {
    width: 100%;
    margin: 20px 0;
  }
}

.container {
  margin: 2rem auto;
  font-family: 'DM Sans', sans-serif;
  color: #fff;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.875px;
}
